
body{
border: solid;
border-radius: 8px;

 display: flex;

flex-wrap: wrap;
  align-items: baseline;

font-family: 'Noto Sans JP', sans-serif;

}
#L{

border-radius: 8px;

 display: inline;

margin:10px;

padding:10px; 
background-color:red;
}
#R{


}
